In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("TSLA.csv")
data= data.reindex(index=data.index[::-1])

In [41]:
data

,Date,Close Price,Open Price,High Price,Low Price,Average Price,Total Traded Quantity
502,"Oct 25, 2017",325.84,336.70,337.50,323.56,330.9000,8590000
501,"Oct 26, 2017",326.17,327.78,330.23,323.20,326.8450,5020000
500,"Oct 27, 2017",320.87,319.75,324.59,316.66,320.4675,6980000
499,"Oct 30, 2017",320.08,319.18,323.78,317.25,320.0725,4250000
498,"Oct 31, 2017",331.53,320.23,331.95,320.18,325.9725,5670000
...,...,...,...,...,...,...,...
4,"Oct 18, 2019",256.95,260.70,262.80,255.10,258.8875,5750000
3,"Oct 21, 2019",253.50,258.33,259.50,250.18,255.3775,5110000
2,"Oct 22, 2019",255.58,254.32,258.33,250.85,254.7700,4630000
1,"Oct 23, 2019",254.68,254.50,256.14,251.35,254.1675,11220000
0,"Oct 24, 2019",299.68,298.97,304.74,290.05,298.3600,29820000

In [42]:
data.tail(90)['Close Price'].max()

299.68

In [43]:
data.tail(90)['Close Price'].min()

211.4

In [44]:
data.tail(90)['Close Price'].mean()

237.01055555555556

In [45]:
data['Date'] = pd.to_datetime(data['Date'])
data['Date'].dtype

dtype('<M8[ns]')

In [46]:
data['Date'].max()-data['Date'].min()

Timedelta('729 days 00:00:00')

In [47]:
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['VWAP'] = (data['Close Price'] * data['Total Traded Quantity']).cumsum() / data['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = data[['Month','Year','VWAP']]
group = data_vwap.groupby(['Month','Year'])
group.first()

                  VWAP
Month Year
1     2018  316.954764
      2019  315.406696
2     2018  323.561374
      2019  315.256044
3     2018  325.425856
      2019  314.759073
4     2018  319.150200
      2019  312.241039
5     2018  313.555696
      2019  308.436093
6     2018  309.872249
      2019  300.808222
7     2018  315.071771
      2019  295.878949
8     2018  314.465788
      2019  293.099304
9     2018  318.337315
      2019  290.853301
10    2017  325.840000
      2018  314.839975
      2019  289.107468
11    2017  324.158673
      2018  311.827378
12    2017  312.008448
      2018  313.798257

In [48]:
def avg_price(N):
    return (data['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avg_price(7))
print("Last 2 weeks",avg_price(14))
print("Last 1 month",avg_price(23))
print("Last 3 months",avg_price(66))
print("Last 6 months",avg_price(129))
print("Last 1 year",avg_price(252))
print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference = (data['Close Price'].tail(N).iloc[N-1] - data['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percent = (loss/data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percent
    if difference > 0 :
        profit = difference
        profit_percent = (profit/data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percent
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",prof_loss(7))
print("Last 2 weeks",prof_loss(14))
print("Last 1 month",prof_loss(23))
print("Last 3 months",prof_loss(66))
print("Last 6 months",prof_loss(129))
print("Last 1 year",prof_loss(252))

Average prices for last N days are as follows:
Last 1 week 263.27964285714285
Last 2 weeks 254.44053571428572
Last 1 month 247.27793478260864
Last 3 months 237.0118181818182
Last 6 months 231.58482558139536
Last 1 year 270.98053571428574
Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 13.324212493326218
Last 2 weeks 20.675387079551523
Last 1 month 25.51721836625734
Last 3 months 11.612386545648695
Last 6 months 13.687933796049112
Last 1 year 3.730646022423921

In [49]:
data['Day_Perc_Change'] = data['Close Price'].pct_change().fillna(0)
data

,Date,Close Price,Open Price,High Price,Low Price,Average Price,Total Traded Quantity,Month,Year,VWAP,Day_Perc_Change
502,2017-10-25,325.84,336.70,337.50,323.56,330.9000,8590000,10,2017,325.840000,0.000000
501,2017-10-26,326.17,327.78,330.23,323.20,326.8450,5020000,10,2017,325.961719,0.001013
500,2017-10-27,320.87,319.75,324.59,316.66,320.4675,6980000,10,2017,324.235629,-0.016249
499,2017-10-30,320.08,319.18,323.78,317.25,320.0725,4250000,10,2017,323.524622,-0.002462
498,2017-10-31,331.53,320.23,331.95,320.18,325.9725,5670000,10,2017,325.012347,0.035772
...,...,...,...,...,...,...,...,...,...,...,...
4,2019-10-18,256.95,260.70,262.80,255.10,258.8875,5750000,10,2019,288.072791,-0.019162
3,2019-10-21,253.50,258.33,259.50,250.18,255.3775,5110000,10,2019,288.031519,-0.013427
2,2019-10-22,255.58,254.32,258.33,250.85,254.7700,4630000,10,2019,287.996456,0.008205
1,2019-10-23,254.68,254.50,256.14,251.35,254.1675,11220000,10,2019,287.909450,-0.003521
0,2019-10-24,299.68,298.97,304.74,290.05,298.3600,29820000,10,2019,287.990583,0.176692

In [50]:
if ((data['Day_Perc_Change'] >= -0.5) & (data['Day_Perc_Change'] <= 0.5)).all():
    data['Trend'] = 'Slight or No change'
if ((data['Day_Perc_Change'] >= 0.5) & (data['Day_Perc_Change'] <= 1)).all():
    data['Trend'] = 'Slight positive'
if ((data['Day_Perc_Change'] <= -0.5) & (data['Day_Perc_Change'] >= -1)).all():
    data['Trend'] = 'Slight negative'
if ((data['Day_Perc_Change'] >= 1) & (data['Day_Perc_Change'] <= 3)).all():
    data['Trend'] = 'Positive' 
if ((data['Day_Perc_Change'] <= -1) & (data['Day_Perc_Change'] >= -3)).all():
    data['Trend'] = 'Negative'
if ((data['Day_Perc_Change'] >= 3) & (data['Day_Perc_Change'] <= 7)).all():
    data['Trend'] = 'Among top gainers'
if ((data['Day_Perc_Change'] <= -3) & (data['Day_Perc_Change'] >= -7)).all():
    data['Trend'] = 'Among top losers'
if (data['Day_Perc_Change'] > 7).all():
    data['Trend'] = 'Bull run' 
if (data['Day_Perc_Change'] < -7).all():
    data['Trend'] = 'Bear drop' 
data

,Date,Close Price,Open Price,High Price,Low Price,Average Price,Total Traded Quantity,Month,Year,VWAP,Day_Perc_Change,Trend
502,2017-10-25,325.84,336.70,337.50,323.56,330.9000,8590000,10,2017,325.840000,0.000000,Slight or No change
501,2017-10-26,326.17,327.78,330.23,323.20,326.8450,5020000,10,2017,325.961719,0.001013,Slight or No change
500,2017-10-27,320.87,319.75,324.59,316.66,320.4675,6980000,10,2017,324.235629,-0.016249,Slight or No change
499,2017-10-30,320.08,319.18,323.78,317.25,320.0725,4250000,10,2017,323.524622,-0.002462,Slight or No change
498,2017-10-31,331.53,320.23,331.95,320.18,325.9725,5670000,10,2017,325.012347,0.035772,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...
4,2019-10-18,256.95,260.70,262.80,255.10,258.8875,5750000,10,2019,288.072791,-0.019162,Slight or No change
3,2019-10-21,253.50,258.33,259.50,250.18,255.3775,5110000,10,2019,288.031519,-0.013427,Slight or No change
2,2019-10-22,255.58,254.32,258.33,250.85,254.7700,4630000,10,2019,287.996456,0.008205,Slight or No change
1,2019-10-23,254.68,254.50,256.14,251.35,254.1675,11220000,10,2019,287.909450,-0.003521,Slight or No change
0,2019-10-24,299.68,298.97,304.74,290.05,298.3600,29820000,10,2019,287.990583,0.176692,Slight or No change

In [51]:
data.groupby(data.Trend).mean()['Total Traded Quantity']
data.groupby(data.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    7210000
Name: Total Traded Quantity, dtype: int64

In [52]:
data.to_csv('week2.csv')

In [56]:
import pandas as pd
a=pd.DataFrame([100,200,50,250,125])
b=a.pct_change().values
print(b)

[[  nan]
 [ 1.  ]
 [-0.75]
 [ 4.  ]
 [-0.5 ]]